/* CSS */

/* colors */
/* persimmon #FC3C2D */
/* navy #071457 */
/* whale #E0E3EF */
/* goldenrod #FACA0C */

/* Shopping Cart page */

h4 {
    margin-block-start: .5em;
    margin-block-end: .5em;
    padding: 0px;
}

/*Formatting for items in cart*/
.container {
    float:left;
    display: inline-flex;
}

.cart-container {
    margin: 20px 70px;
    display: flex;
    flex-direction: column;
}

.cart-table {
    background: white;
    padding: 15px 15px;
}

#cart-items {

}

.cart-item {
    background: white;
    padding: 15px 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.cart-item img {
    width: 150px;
    height: 150px;
    padding: 0px 15px;
}

.cart-descript {
    float: left;
    padding: 0px 15px;
}

.cart-price {
    flex: display;
}

.checkout-container {
    width: 25%;
    margin: 20px 50px;
    float: right;
}

.total-cart {
    width: 100%;
    min-height: 150px;
    float: right;
    background-color: #E0E3EF;
    padding: 0px 15px;
}

#total-price {
    position: relative;
    top: 25px;
}

.button-checkout {
    background-color:#FC3C2D ; /*persimmon*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 75px;
    height: 50px;
    position: relative;

}

/*Deleting items from page */

.delete-container {
    position:relative;
}

.delete-btn {
    height: 36px;
    width: 36px;
    color:#071457;
    line-height: 36px;
    border-color:none;
    border-style: none;
    border-width: none;
    font-size: 16px;
    float: right;
    text-align: center;
    position:absolute; top:0; right:0;
    cursor:pointer;
}
.delete-btn:hover {
    background-color: #E0E3EF;
}


